body {
   
    min-height: 100vh;
    background-size:100vw 100vh;
    background-repeat: no-repeat;

}
form{
    font-size: 40px;
    color: aliceblue;
}
body{
    font-size: x-large;
    color: whitesmoke;
}
input{
    padding: 7px;
}
#s{
    color: whitesmoke;
    background-color: blue;
    padding: 7px;
    border-radius: 8px;
    border: none;
}